[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
pillow = "*"
psutil = "*"
pyyaml = "*"
requests = "*"
scipy = "*"
thop = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
flask = "*"
pandas = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
